/* ==========================================================================
トップページ独自のパーツの設定
========================================================================== */

.key-visual{
    background-image: url("/images/top_img_001.jpg");
    width: 1200px;
    height: 400px;
    padding: 180px 0 0 34px;
    font-size: 36px;
    font-family: "Hiragino Kaku Gothic ProN";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-shadow: 0px 0px 10px rgba(55, 55, 55, 0.73);
}

.content__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 0.2rem;
}

.content__link {
    font-size: 14px;
    font-weight: bold;
}

.content__item {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #b4b4b4;    
}

.divider {
    height: 1px;
    width: 10px;
    margin: 6px 0;
    background-color: #C4C4C4;
}


.font--gray {
    color: #7B7B7B;
}

/* foreword */
.content__foreword{
    text-align: center;
    padding: 38px 0 41px 0;
    background: #fff;
}

.foreword__img{
    display: block;
    height: 224px;
    width: 580px;
    margin: 36px auto;
}

/* payment */
.content__payment {
    text-align: center;
    padding: 38px 0 44px 0;
    background: #FAFAFA;
}

.content__description, .payment-item__description{
    font-size: 14px;
}

.payment-item__title {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

.payment__img {
    height: 90px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment__table {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 15px 0 40px 0;
}

.content__payment-item {
    width: 195px;
    padding: 15px;
    margin: 10px 0;
}

/* review */
.content__review {
    text-align: center;
    padding: 65px 0 55px 0;
    background: #fff;
}

.content__review-item {
    max-width: 650px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.review__img {
    min-width: 110px;
    border-radius: 10px;
    background-color: rgb(168, 128, 75);
}

#man {
    background-image: url("/images/man.png");
    background-position: bottom 0px right -6px;
    background-repeat: no-repeat;
}

#baby {
    background-image: url("/images/baby.png");
    background-position: bottom -10px right -20px;
    background-repeat: no-repeat;
}

#woman {
    background-image: url("/images/woman.png");
    background-position: bottom -25px right -40px;
    background-repeat: no-repeat;
}

.content__review .content__item--description {
    /* min-width: 530px; */
    padding: 20px 20px 10px 20px;
    text-align: left;
    font-size: 14px;
    word-wrap:break-word;
}

.content__review-table {
    margin: 40px 0 50px;
}

/* download */
.content__download {
    text-align: center;
    padding: 30px 0;
    background: #FAFAFA;
}

.button__download{
    padding: 13px 62px;
    margin: 25px 0 6px 0;
    color: #fff;
    background-color: #3A47B1;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 0 10px #b4b4b4;  
}

.button__download:hover {
    background-color: #727ed3;
}

/* below-download */
.content__below-download {
    text-align: left; 
    padding: 46px 40px 40px 40px;
    background: #fff;  
}

.content__below-download .content__description {
    font-size: 11px;
}
